@font-face {
    font-family: "SFProDisplay-Regular";
    src: local("SFProDisplay-Regular"),
        url("../fonts/SFProDisplay-Regular.woff") format("woff"),
        url("../fonts/SFProDisplay-Regular.woff2") format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: "SFProDisplay-Semibold";
    src: local("SFProDisplay-Semibold"),
        url("../fonts/SFProDisplay-Semibold.woff") format("woff"),
        url("../fonts/SFProDisplay-Semibold.woff2") format("woff2");
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "SFProDisplay-Regular", sans-serif;
    background: #F5F5F5;
}

.header {
    background: #FA8C16;
    padding-top: 16px;
    padding-bottom: 16px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
}

.header-wrapper {
    max-width: 1200px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    margin-left: 60px;
    margin-right: auto;
}

.header-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-menu-link {
    text-decoration: none;
    color: #FAFAFA;
    margin-right: 15px;
    font-size: 14px;
    line-height: 22px;
}

.input-group {
    max-width: 237px;
    width: 60%;
    height: 32px;
    position: relative;
    background: #FFFFFF;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #D9D9D9;
}

.search-input {
    width: 80%;
    height: 100%;
    border: none;
    font-size: 14px;
    line-height: 22px;
    padding-left: 12px;
}

.search-button {
    height: 100%;
    width: 20%;
    position: absolute;
    background: #FFFFFF;
    right: 0;
    top: 0;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input::-moz-placeholder {
    color: #BFBFBF;
}

.search-input.search-input::-webkit-input-placeholder {
    color: #BFBFBF;
}

.search-input:-ms-input-placeholder {
    color: #BFBFBF;
}

.search-input::-ms-input-placeholder {
    color: #BFBFBF;
}

.search-input::placeholder {
    color: #BFBFBF;
}

.menu-toggle {
    display: none;
}

.content {
    max-width: 1200px;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.posts {
    display: none;
    width: 67%;
}

.posts.visible {
    display: block;
}

.post {
    background: #FFFFFF;
    border: 1px solid #e8e8e8;
    margin-bottom: 30px;
}

.post-body {
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 0;
}

.post-title {
    font-family: "SFProDisplay-Semibold", sans-serif;
    margin-top: 0;
    margin-bottom: 19px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.post-text {
    color: #262626;
    font-size: 14px;
    line-height: 22px;
}

.tags {
    margin-bottom: 22px;
    color: #BFBFBF;
}

.tag {
    color: #BFBFBF;
    font-size: 14px;
    line-height: 22px;
    margin-left: 10px;
    text-decoration: none;
}

.tag:first-child {
    margin-left: 0;
}

.post-footer {
    background: #FAFAFA;
    border-top: 1px solid #E8E8E8;
    display: flex;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.post-buttons {
    display: flex;
    align-items: center;
}

.post-button {
    background-color: transparent;
    border: none;
    color: #8c8c8c;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 22px;
    margin-right: 19px;
    cursor: pointer;
}

.post-button .icon {
    fill: #8C8C8C
}

.icon-like,
.icon-comment {
    margin-right: 6px;
}

.post-author {
    display: flex;
    align-items: center;
    text-align: right;
}

.author-username {
    display: block;
    color: #8C8C8C;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
}

.author-avatar {
    width: 34px;
    height: 34px;
    margin-left: 9px;
    border-radius: 4px;
    object-fit: cover;
}

.post-time {
    color: #BFBFBF;
    font-size: 12px;
    line-height: 20px;
}

.sidebar {
    width: 31%;
}

.login {
    background-color: #FAFAFA;
    border: 1px solid #E8E8E8;
    padding: 15px 25px;
    align-items: center;
    justify-content: space-between;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #595959;
}

.login-input {
    display: block;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    padding: 5px 15px;
    margin-bottom: 15px;
}

.login-forget {
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    color: #757575;
    margin-bottom: 10px;
    font-style: italic;
}

.login-signin {
    background-color: #fa8c16;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 32px;
    font-size: 15px;
    margin-bottom: 15px;
}

.login-signin:hover {
    filter: opacity(80%);
}

.login-signin:active {
    filter: brightness(85%);
}

.login-signup {
    color: #fa8c16;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 10px;
}

.user {
    background-color: #FAFAFA;
    border: 1px solid #E8E8E8;
    padding: 15px 25px;
}

.user-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-info {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: auto;
}

.user-avatar {
    border-radius: 50%;
    margin-right: 17px;
    object-fit: cover;
}

.user-name {
    font-family: "SFProDisplay-Semibold", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
}

.edit {
    margin-right: 10px;
}

.edit-title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #595959;
    text-transform: uppercase;
}

.edit-container {
    display: none;
}

.edit-container.visible {
    display: block;
}

.edit-label {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

.edit-input {
    display: block;
    width: 100%;
    padding: 5px 10px;
}

.edit-btn {
    background-color: #fa8c16;
    width: 100%;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 32px;
    font-size: 15px;
    margin-bottom: 15px;
}

.icon-exit,
.icon-edit {
    width: 20px;
    height: 20px;
    fill: #000;
}

.sidebar-nav {
    display: none;
    background-color: #fff;
}

.sidebar-menu {
    margin: 0;
    border: 1px solid #E8E8E8;
    border-top: none;
    list-style-type: none;
    padding: 0;
}

.sidebar-menu-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    display: inline-block;
    padding: 16px 48px;
    width: 100%;
    background-color: #fff;
}

.sidebar-menu-link:hover {
    background-color: #FFFBE6;
}

.sidebar-menu-link.active {
    background-color: #FFFBE6;
    border-right: 3px solid #FAAD14;
}

.button {
    background: #FAAD14;
    border-radius: 4px;
    border: none;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    padding: 13px;
    cursor: pointer;
}

.button-outline {
    background: #FFFFFF;
    border: 1px solid #FFC53D;
    border-radius: 4px;
    color: #FFC53D;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
}

.button-outline .icon {
    width: 14px;
    height: 11px;
    fill: #FFC53D;
}

.button-new-post {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.button-new-post.visible {
    display: flex;
}

.icon-fire {
    width: 16px;
    height: 16px;
    fill: #FFF;
    margin-right: 10px;
}

.card {
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    margin-top: 20px;
}

.card-header {
    background: #FAFAFA;
    border-bottom: 1px solid #E8E8E8;
    padding: 23px 25px;
}

.card-title {
    margin: 0;
    font-family: "SFProDisplay-Semibold", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
}

.card-body {
    padding: 22px 40px 20px 25px;
}

.card-body-title {
    text-decoration: none;
    margin: 0 0 10px;
    font-family: "SFProDisplay-Semibold", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #D48806;
}

.card-text {
    font-size: 14px;
    line-height: 22px;
    color: #262626;
    margin: 10px 0;
}

.promo {
    display: block;
    background: #fff url('../img/promo.jpg') no-repeat center center / cover;
    width: 100%;
    height: 260px;
    border: 1px solid #E8E8E8;
    margin-top: 20px;
    position: relative;
}

.promo::before {
    content: 'Реклама';
    position: absolute;
    right: 0;
    top: 0;
    background: #c4c4c4;
    padding-left: 26px;
    padding-right: 26px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.add-post {
    display: none;
    flex-direction: column;
    width: 67%;
}

.add-post.visible {
    display: flex;
}

.add-post .button-outline {
    margin-right: 1%;
}

.add-title,
.add-text,
.add-tags {
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    padding: 23px 30px;
    margin-bottom: 16px;
    resize: none;
}

.add-text {
    min-height: 362px;
}

.add-button {
    width: 100%;
    max-width: 370px;
    margin-right: 2%;
}

@media (max-width: 990px) {
    .menu-toggle {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 20px;
        margin-left: 12px;
    }

    .menu-toggle span {
        height: 2px;
        width: 100%;
        background-color: #fff;
    }

    .header {
        position: fixed;
        z-index: 100;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
    }

    .content {
        margin-top: 94px;
        margin-bottom: 60px;
    }

    .sidebar {
        position: fixed;
        z-index: 101;
        top: 64px;
        right: 0;
        bottom: 0;
        max-width: 320px;
        width: 100%;
        height: calc(100% - 64px);
        background-color: #fff;
        box-shadow: 1px 1px 10 rgba(0, 0, 0, 0.15);
        padding: 30px;
        transform: translateX(100%);
        transition: transform 0.2s;
        overflow-y: auto;
    }

    .sidebar.visible {
        transform: translateX(0);
    }

    .posts {
        width: 100%;
    }

    .header-nav {
        display: none;
        /* margin-left: 0;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        background: #FA8C16;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 35px;
        padding-right: 35px;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
        display: flex;
        justify-content: space-between;
        align-items: center; */
    }

    .header-menu {
        width: 90%;
        margin: auto;
    }

}

@media (max-width: 676px) {
    .add-buttons {
        display: flex;
        flex-direction: column;
    }

    .add-button {
        width: 100%;
        max-width: 100%;
    }

    .add-post .button-outline {
        margin-right: 0;
        margin-top: 10px;
    }
}

@media (max-width: 576px) {
    .img-post {
        max-width: 90%;
        height: auto;
    }

    .post-footer {
        flex-direction: column;
    }

    .post-author {
        margin-top: 15px;
    }

    .author-avatar {
        margin-left: 0;
        margin-right: 10px;
    }

    .author-about {
        order: 2;
        text-align: left;
    }

    .add-button {
        width: 100%;
    }
}